<%- include('./partials/header') %>
<h1>Hello <%= user.username %></h1>

<div id="feed">
  <% items.forEach(item=> { %>
    <% if (item.type==='text' ) { %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= item.author.username %> posted <%= formatDistance(new Date(item.created_at), new Date(), { addSuffix: true }) %> </h5>
          <div class="card-text">
            <%- item.data.raw %>
          </div>
          <a href="/items/<%= item.id %>" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% } %>
  <% }) %>
</div>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="text-tab" data-bs-toggle="tab" data-bs-target="#text" type="button" role="tab"
      aria-controls="text" aria-selected="false">Text</button>
  </li>
  <!-- <li class="nav-item" role="presentation">
    <button class="nav-link" id="photo-tab" data-bs-toggle="tab" data-bs-target="#photo" type="button" role="tab"
      aria-controls="photo" aria-selected="false">Picture</button>
  </li> -->
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active form-floating" id="text" role="tabpanel" aria-labelledby="text-tab">
  <div class="form-control" placeholder="Leave a comment here" id="text-input" ></div>
  </div>
  <!-- <div class="tab-pane" id="photo" role="tabpanel" aria-labelledby="photo-tab">
    <input type="url" name="photo" id="photo-input" /> 
  </div> -->
</div>

<button type="submit" type="button" class="btn btn-primary">
  Share
</button>
<%- include('./partials/footer') %>