<%- include('./partials/header') %>
<div class="item">
<% if (item.type==='text' ) { %>
  <%- item.data.raw %>
<% } else if(item.type === 'image') { %>
<a href="<%= item.data.url %>" target="_blank" rel="noopener noreferer">
  <img class="img-fluid" src="<%= item.data.url %>" alt="<%= item.data.description || item.data.title + " photo"%>"
  />
</a>
<h1>
  <%= item.data.title %>
</h1>
<p>
  <%= item.data.description %>
</p>
</div>
<% } %>

<%- include('./partials/footer') %>