
<%- include('./partials/header') %>
<div id="profile">
  <h1>
    <%= member.username %>
  </h1>
  <img class="profile-picture img-fluid"
    src="<%= member.profile.avatar || `https://ui-avatars.com/api/?name=${member.username}&rounded=true`%>"
    alt="<%= member.username%> profile picture" />
    <div class="data">
      <h3>
        My birthday is 
        <time datetime="<%= member.profile.birthday %>">
          <% if (member.profile.birthday) { %>
            <%= methods.formatDate(methods.parseTimestamp(member.profile.birthday), 'LLLL do, yyyy') %>
          <% } else { %>
            Unknown. Ask them to update this!
          <% }  %>
        </time>
      </h3>
      <h3>
        My phone number is
        <a href="tel:<%= member.profile?.phone?.replace(/\-/g, '') ?? '#' %>">
          <%= member.profile.phone || 'Unknown. Ask them to update this!' %>
        </a>
      </h3>
      <h3>
        My current addres is
      </h3>
      <% if (member.profile.address1 && member.profile.city && member.profile.state && member.profile.zip) { %>
        <span>
          <%= member.profile.address1 %>
        </span>
        <br />
        <span>
          <%= member.profile.address2 %>
        </span>
        <br />
        <span>
          <%= member.profile.city ? member.profile.city + ', ' : '' %>
            <%= member.profile.state %>
        </span>
        <br />
        <span>
          <%= member.profile.zip %>
        </span>
        <% } else { %>
          <aside class="missing">
            <p>I haven't put enough to ship. Ask me to update this! Below is all I have put</p>
            <span>
              <%= member.profile.address1 %>
            </span>
            <br />
            <span>
              <%= member.profile.address2 %>
            </span>
            <br />
            <span>
              <%= member.profile.city ? member.profile.city + ', ' : '' %>
                <%= member.profile.state %>
            </span>
            <br />
            <span>
              <%= member.profile.zip %>
            </span>
          </aside>
          <% } %>
  </div>
</div>
<% if (typeof user !=='undefined' && member.id===user.id) { %>
  <%- include('./partials/member-profile-edit') %>
<% } %>
<%- include('./partials/footer') %>