<% if (!update) { %>
  <div class="mb-3">
    <label for="event-image-input" class="form-label">Header Image</label>
    <input class="form-control" type="file" id="event-image-input" name="event-image" />
  </div>
  <% } %>
<div class="mb-3">
  <label for="event-title-input" class="form-label">Title</label>
  <input class="form-control" type="text" id="event-title-input" name="event-title" placeholder="Get Ready to Party!!!" value="<%= item.data.title %>">
</div>
<div class="mb-3">
  <label for="event-description" class="form-label">Description</label>
  <textarea class="form-control" type="text" id="event-description" name="event-description"
    rows="5"><%= item.data.description || 'Let\'s go boys!' %></textarea>
</div>
<div class="mb-3">
  <label for="event-address" class="form-label">Address</label>
  <textarea class="form-control" type="text" id="event-address" name="event-address" rows="3">
<%= item.data.address || `
1234 Main St
Cookeville, TN
38501
`.trim() %></textarea>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">Goes from</span>

  <input
    type="datetime-local"
    class="form-control"
    name="event-start-datetime"
    id="event-start-datetime"
    aria-label="Start Time"
  >
  
  <span class="input-group-text">until</span>

  <input
    type="datetime-local"
    class="form-control"
    name="event-end-datetime"
    id="event-end-datetime"
    aria-label="End Time"
  />
</div>

<div id="resp-group">
  <div id="responsible-list">
    <% if (item.data.responsbility_list) { %>
        <% item.data.responsbility_list.forEach(resp=> { %>
          <div class="input-group mb-3 responsible">
            <select class="form-select">
              <% users.forEach(user=> { %>
                <option value="<%= user.id %>" <%= resp.id === user.id ? 'selected' : '' %>>
                  <%= user.username %>
                </option>
                <% }) %>
            </select>
            <textarea class="form-control" type="text" rows="3"><%- resp.responsbility %></textarea>
            <button class="btn btn-danger" onClick="deleteParent(event)">
              <i class="bi-trash"></i>
            </button>
          </div>
          <% }) %>
      <% } %>
  </div>
  
  <button class="btn btn-info" id="add-resp-button">
    Add A Responsiblity
  </button>
</div>


<template id="responsible-select">
  <div class="input-group mb-3 responsible">
    <select class="form-select">
      <option selected>Select Person Responsible</option>
      <% users.forEach(user=> { %>
        <option value="<%= user.id %>">
          <%= user.username %>
        </option>
        <% }) %>
    </select>
    <textarea class="form-control" type="text" rows="3">They are responsible for...</textarea>
    <button class="btn btn-danger" onClick="deleteParent(event)">
      <i class="bi-trash"></i>
    </button>
  </div>
</template>