<img
  class="img-fluid"
  src="<%= item.data.url %>"
  alt="<%= item.data.description || item.data.title + " photo"%>"
/>


<div id="event-data">
  <div class="group">
    <h1>
      <%= item.data.title %>
    </h1>
    <%- methods.parseMarkdown(item.data.description) %>
  </div>
  <ul class="group list-group">
    <li class="list-group-item">Starts: <%= methods.formatDate(new
        Date(item.data.start_datetime), 'iii MMMM do, y h:mm a' ) %>
    </li>
    <li class="list-group-item">Ends: <%= methods.formatDate(new Date(item.data.end_datetime), 'iii MMMM do, y h:mm a'
        ) %>
    </li>
    <li class="list-group-item">
      Address:
      <a href="https://www.google.com/maps/dir/current+location/<%=  item.data.address.replace(/\n/g, ' ') %>"
        target="_blank" rel="noopener noreferer">
        <%= item.data.address %>
      </a>
    </li>
  </ul>
</div>

<div class="list-group" id="responsibility-list">
  <% if (item.data.responsbility_list) { %>
    <ol class="list-group">
      <% item.data.responsbility_list.forEach(resp=> { %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <a href="/members/<%= resp.id %>" class="fw-bold"><%= users.find(user => user.id === resp.id).username %></a>
            <span>
              Is responsible for
            </span>
          </div>
          
          <div class="resp-markdown">
            <%- methods.parseMarkdown(resp.responsbility) %>
          </div>
        </li>
        <% }) %>
    </ol>
  <% } %>
</div>

<div class="calendar-actions">
  <button id="add-to-gcal-calendar" class="btn btn-secondary">
    Add to Google Calendar
  </button>
  
  <button id="add-to-calendar" class="btn btn-secondary">
    Add to Apple/Desktop Calendar
  </button>
</div>